.wrapper{
  inline-size: 30rem;
  margin: 2rem auto 0;
  font-family: monospace;
  font-size: 1.125rem;
  font-weight: bold;
  word-spacing: -60%;
  display: flex;
  flex-direction: column;
  caret-color: transparent;
}
.players{
  display: flex;
  inline-size: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.player1, .player2, .roundInfo{
  inline-size: 10rem;
  block-size: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.player1 p, .player2 p, .roundInfo p{
  margin: 0;
}
.player1 p ~ p, .player2 p ~ p, .roundInfo p ~ p, .player, .mark {
  font-size: 1.5rem;
 }
.player2{
  align-items: end;
  text-align: right;
}
.player1 p ~ p{
  align-self: end;
}
.player2 p ~ p{
  align-self: start;
}
.roundInfo{
  align-items: center;
  text-align: center;
}
hr{
  inline-size: 100%;
  margin: 0.25rem 0;
}
.board{
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  inline-size: 24rem;
  block-size: 24rem;
  background-color: #000;
  margin: 2rem auto;
}
.cell{
  display: flex;
  inline-size: calc(23.6rem / 3);
  block-size: calc(23.6rem / 3);
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background-color: #f5f5f5;
  cursor: pointer;
}
.cell.color{
  background-color: #a0a0a0;
  color: #fff;
}
.gameInfo{
  inline-size: 24rem;
  block-size: 24rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.95);
}
.gameInfo > p:first-child{
  line-height: 3.5rem;
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}
.getGameRounds{
  display: block;
  align-self: center;
}
.gameCounter p{
  margin: 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  font-size: 1.5rem;
}
.round{
  margin: 0.5rem 0 0;
  text-align: center;
  visibility: hidden;
}
.nextRound{
  margin: 0 auto;
  visibility: hidden;
}
button{
  font-size: 1.25rem;
  font-weight: bold;
  font-family: monospace;
  word-spacing: -50%;
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}
#namedDialog div{
  text-align: center;
}
#namedDialog input{
  font-size: 1rem;
}
#namedDialog::backdrop{
  background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.95) 0, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0 , 0.25) 100%);
  opacity: 1;
}
dialog{
  animation: fade-out 250ms ease-out;
}
dialog[open]{
  animation: fade-in 350ms ease-out;
}
dialog[open]::backdrop {
  animation: backdrop-fade-in 500ms ease-out;
}
@keyframes fade-in{
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}
@keyframes backdrop-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}